:root {
  --main-color: #f55353;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.portfolio-title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 40px;
  opacity: 70%;
}

.portfolio-title.white {
  color: var(--main-color);
}

.portfolio-title.color {
  color: white;
}

.portfolio-title:hover {
  opacity: 100%;
}

h2.about,
h2.contact {
  font-size: 60px;
}

h1.about {
  font-size: 24px;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: black;
  transition: all 200ms ease-in-out;
}

.work-title {
  margin-top: 200px;
  z-index: 2;
}

.navbar {
  background-color: transparent;
  padding-left: 20px;
}

.navbar.work {
  background-color: white;
  padding-left: 20px;
}

.nav-options {
  justify-content: flex-end;
}

.nav-link {
  margin-right: 15px;
}

.wordmark {
  font-family: "Sacramento", cursive;
  font-size: 40px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}

.split.work {
  height: 100%;
  overflow-y: auto;
  z-index: 1;
}

.left {
  left: 0;
}

.left.home {
  background-image: url(/images/toronto1.jpg);
  background-size: cover;
}

.left.about {
  background-color: var(--main-color);
}

.left.contact {
  background-image: url(/images/phone.jpg);
  background-size: cover;
}

.left.work {
  background-color: var(--main-color);
  overflow-y: hidden;
}

.right {
  right: 0;
  overflow: hidden;
}

.work-link {
  margin-top: 30px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px;
}

.work-link:visited {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.work-link:hover {
  cursor: pointer;
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: all 200ms ease-in-out;
}

.highlight {
  color: var(--main-color);
}

.main-content {
  position: relative;
  top: 55px;
  height: 90%;
  padding: 50px;
  margin-top: 30px;
  overflow-y: scroll;
}

.alt-image {
  display: none;
}

.alt-image.about {
  display: none;
}

.img-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  max-width: 60%;
  max-height: 60%;
  border-radius: 20px;
  box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.2);
  border: white 7px solid;
}

.work-info {
  text-align: center;
  margin-top: 10px;
  padding: 40px;
  border-radius: 4px;
}

.work-info.color {
  background-color: var(--main-color);
}

.work-info:hover {
  opacity: 100%;
  transition: all 200ms ease-in-out;
}

.fa-arrow-up-right-from-square {
  font-size: 30px;
  margin-top: 10px;
  opacity: 70%;
  color: var(--main-color);
}

.fa-arrow-up-right-from-square.color {
  color: white;
}

.fa-arrow-up-right-from-square:hover {
  opacity: 100%;
  transition: all 200ms ease-in-out;
}

@media (max-width: 576px) {
  h2 {
    font-size: 50px;
  }
  h1 {
    font-size: 30px;
  }

  .work-link {
    padding: 15px;
  }

  .left {
    display: none;
  }
  .split {
    width: 100%;
    padding: 0;
  }

  .main-content {
    max-height: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .navbar {
    background-color: white;
  }
  .alt-image {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.2);
    border: white 7px solid;
  }

  .alt-image.about {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 70%;
    border-radius: 20px;
    box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.2);
    border: white 7px solid;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  h2 {
    font-size: 70px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .split {
    width: 35%;
  }

  .right {
    left: 36%;
    width: auto;
  }

  .main-content {
    padding: 35px;
    height: 90%;
    position: relative;
    top: 55px;
  }

  .profile-pic {
    max-width: 80%;
  }
}
