:root {
  --main-color: #fd5d5d;
  --light-color: #fff7bc;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.navbar {
  background-color: transparent;
  padding-left: 20px;
}

.nav-options {
  justify-content: flex-end;
}

.nav-link {
  margin-right: 15px;
}

.wordmark {
  font-family: "Sacramento", cursive;
  font-size: 40px;
  transition: all 200ms ease-in-out;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-image: url(/images/toronto1.jpg);
  background-size: cover;
}

.right {
  right: 0;
  padding: 50px;
}

.work-link {
  max-width: 200px;
  margin-top: 30px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px;
}

.work-link:visited {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.work-link:hover {
  cursor: pointer;
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: all 200ms ease-in-out;
}

.highlight {
  color: var(--main-color);
}

.main-content {
  padding: 10px;
  margin-top: 80px;
}

.alt-image {
  display: none;
}

@media (max-width: 576px) {
  h2 {
    font-size: 50px;
  }
  h1 {
    font-size: 30px;
  }

  .left {
    display: none;
  }
  .split {
    width: 100%;
    padding: 0;
  }

  .main-content {
    text-align: center;
    margin-top: 120px;
  }
  .navbar {
    background-color: white;
  }
  .alt-image {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  h2 {
    font-size: 70px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .split {
    width: 35%;
    padding: 0;
    margin: 0;
  }

  .right {
    left: 36%;
    width: auto;
    padding: 5px;
  }

  .left {
    background-position: right;
  }

  .main-content {
    margin-top: 100px;
    padding: 30px;
  }
}

@media (max-height: 489px) {
  .navbar {
    background-color: white;
  }
}
